Data/carpetas_completa_abril_2021.csv
Data/bops_bm.csv
Data/bops_online.csv
Data/conjunto_de_datos_ageb_urbana_09_cpv2020_edited.csv
Data/conjunto_de_datos_ageb_urbana_09_cpv2020_edited.csv
Data/AGEB.json
Data/AGEB_cdmx.geojson
Data/AGEB_cdmx2.geojson
Data/AGEB_cdmx_clust2.geojson
Data/AGEB_cdmx_pob.geojson
Data/AGEB_cdmx_pob_delitos.geojson
Data/alcaldias.geojson
Data/carp_cdmx_ageb_2020.csv
Data/carp_cdmx_ageb_2020_pob.csv
Data/carp_homdol_alc_ageb.csv
Data/carp_homdol_alc_ageb2.csv
Data/carp_homdol_alc_ageb3.csv
Data/carp_homdol_alc_ageb_pob.csv
Data/carp_homdol_alc_ageb_pob2.csv
Data/carp_homdol_alc_ageb_pob3.csv
Data/gdf_nans.geojson
Data/gdf_nans_delitos.geojson
Data/02_municipios.csv
Data/02_ProdMun.csv
Data/all_data.csv
